$color:green;
body{
    padding: 0px;
    margin: 0px;
    background-color: black;
    color: rgb(17, 19, 19);
}
#header
{
  display:flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;
  background-color:$color;
  padding: 10px;
  border-radius: 10px;
  font-family:bri;
  
}

#logo{
    height: 60px;
    width: 60px;
    border-radius: 10px;
   
}
#ul
{
   display: flex;
   list-style: none;
   justify-content: space-evenly;
   margin-right:30px;
   font-family: sans-serif;
   font-size: large;
   li{
    a{
        text-decoration: none;
        margin: 30px;
    }
   }
}
#h1
{
    font-weight: bolder;
    font-size: xx-large;
    

}
#logo2
{
    height: 40px;
    width: 40px;
    
}
#input{
    height: 30px;
    width: 600px;
    border-radius: 20px;
   
}
nav{
    display: flex;
    justify-content: center;
    justify-items: center;
}
#section
{
    padding: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:azure;
    border-radius: 10px;
    font-weight: bolder;
   margin-left: 40px;
   margin-right: 40px;
   margin-top: 20px;
   backdrop-filter: blur( 2px );
   background-image: url("https://files.oaiusercontent.com/file-KCQvyecktms3c2viJCDunt?se=2024-12-21T04%3A55%3A46Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3Dc6cf9848-7c8b-4f01-bbd2-3b1109634802.webp&sig=q0%2BCOzcCemF/CGFAXBwW9fCFja49G5WTZWXJj4KEdM8%3D");
   background-size: cover;
   background-repeat:no-repeat ;
   height: 400px;

 
}
#li{
    border:2px solid grey;
    border-radius: 10px;
    margin-right: 1200px;
    display: flex;
    box-shadow: 0 0 5px;
}
#items2
{
  background-color: blue;
  border-radius: 30px;

    
}
#headphones
{
    box-shadow: 0 0 80px;
    border-radius: 20px;
    
}
h1{ 
    color: aliceblue;
    text-decoration: underline;
}
.container{
    display: flex;
    justify-content: space-evenly;
}
#h11
{
    color: black;
    font-size: xx-large;
    font-weight: bolder;
}
#logo3{
    height: 78px;
    width: 150px;
    border: 5px solid grey;
    border-radius: 20px;
}
#p1{
    color:black;
    font-size: large;
    font-weight: bolder;
}
#button{

background-color:aqua;
border-radius: 30px;
border: solid black;
   
}
#u{
    color:black;
}
#items{
    display: flex;
    justify-content: space-evenly;
}
#button2{
    background-color:black;
    color:white;
    border-radius: 30px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#a{
 text-decoration:none;
 color: aliceblue;
}
#head{
    display: flex;
    justify-content: center;
    color:whitesmoke;
    
    

}
#section2{
   
    background-repeat: no-repeat;
   background-size:cover;
 
}
 #buttonsignup
 {
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: aqua;
    color: black;
    border: solid black;
    border-radius: 30px;
 }
 #p{
 font-weight: bolder;
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-size: medium;
 color: aliceblue;
 }
 #search{
    height: 30px;
    width: 35px;
    border-radius: 80px;
 }
 footer{
    background-color: green;
    font-family:sans-serif;
    font-weight: bolder;
    height: 50px;
    
    
    
 }
#items3{
    color: white;
    font-size: large;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}
#lap1{
    border-radius:30px;
}
section{
    background-image: url("https://thumbs.dreamstime.com/b/symbol-wireless-internet-ultraviolet-background-smart-city-iot-internet-things-modern-illustration-tall-symbol-316743136.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#items4{
    color: white;
    font-size: large;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}
#section3{
    display: flex;
    justify-content: space-evenly;
}
#lap1
{
    display: flex;
    justify-content: center;
}
#lap12{
    border-radius: 40px;
    background-color: purple;
    margin-left: 60px;
}
p{
    color: black;
}